


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');

:root{
    --accent: #5d4beb;
    --secondary: #dccaff;
    --bodybg: #f5f2eb;
}

*{
    font-size: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    /* font-weight: 400; */
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
    /* color: black; */
}

body{
    background: var(--bodybg);
    color: #121212;
    /* font-size: 18px; */
}

h1, h2, h3, h4, h5, h6{
    font-family: "Unbounded", sans-serif;
}

a{
    color: var(--accent);
    text-decoration: none;
}

footer a{
    color: #705dff;
}

li{
    list-style: none;
}

ul{
    padding-left: 0;
}

.not-allowed{
    cursor: not-allowed;
}

.anim{
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
}

@keyframes appear {
    0% {
        transform: translateX(-300px);
    }

    100%{
        transform: translateX(0);
    }
}

.btn{
    background: #000000;
    color: var(--bodybg);
    /* border: 3px solid transparent; */
}

.btn-secondary{
    background: transparent;
    border: 1px solid black;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    color: #000;
    font-weight: bold;
}

.btn:hover{
    background: #404040;
    color: var(--bodybg);
}

section{
    margin-bottom: 150px;
}
